body{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    
}
#container{
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: aqua;
    align-items: end;
}

button{
    font-size: large ;
    background-color: white;
    
}

.optional{
    display: flex;
    gap: 20px;
}

.rgb, .darken{
    background-color: white;
}

.rgb.active, .darken.active{
    background-color: rgb(0, 0, 0) ;
    color: white;
}